{:kotoba.app/id "cloud.itonami.isic-3830", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiavwo26owwmrerzmhjtb7gjerdmh7bgynit3llkn74pnjwtqpqc5a", :kotoba.app/embed-url "ipfs://bafkreiavwo26owwmrerzmhjtb7gjerdmh7bgynit3llkn74pnjwtqpqc5a", :published {:archive "https://kotobase.net/ipfs/bafkreiavwo26owwmrerzmhjtb7gjerdmh7bgynit3llkn74pnjwtqpqc5a", :size 74781, :put-status 201, :get-status 200, :at "2026-08-15T13:43:51.706Z"}}
